# Project Specific, Language restricted or otherwise
node_modules
/dist
/releases

# For now let's ignore this since it's really really early on
package-lock.json

# IDE Specific
.idea
*.iml

# OS Specific
.DS_Store
