<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>Radiant Game Editor</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <!-- Default Spinner -->
        <div id="boot_loader" class="assembly">
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="tri"></div>
            <div class="hex"></div>
        </div>
    </body>
</html>