<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-type" content="text/html; charset=utf-8"/>
        <title>Radiant.JS</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
    </head>
    <body>
        <div id="boot_loader">
            <div class="wrapper"></div>
            <div class="assembly">
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="tri"></div>
                <div class="hex"></div>
            </div>
        </div>
        <div id="app_root">
            <!-- React Hook Goes Here -->
        </div>
    </body>
</html>